.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 25px;
}

.project-card h4 {
    margin: 0;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
}

.project-card p {
    margin: 0;
    margin-left: 20px;
}

figure {
    margin: 15px;
}

.img_card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.img_card img {
    width: 100%;
    height: auto;
    padding: 20px;
    max-width: 190px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.zoom {
    transition: all .2s ease-in-out;
}

.zoom:hover {
    transform: scale(1.01);
}

.project-card a {
    color: var(--color-light);
}

.figure {
    width: 93%;
}
@media only screen and (min-width: 760px) {
    .figure {
        width: calc(50% - 20px);
        margin: 10px 10px;
    }
}